* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
.box {
  width: 540px;
  height: 300px;
  margin: 0 auto;
}
.cate {
  display: flex;
  height: 90px;
  font-size: 14px;
  color: #fff;
  margin: 5px 0;
  background: #fa7f50;
  border-radius: 5px;
}
.cate > a {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.cate > a span:nth-child(2) {
  width: 43px;
  height: 43px;
  background: url('../img/xc_sprites.png') no-repeat 0 -130px;
  background-size: 104px 327.5px;
}
.cate .xia1 {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
}
.cate .xia1 > a {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #fff;
}
.cate .xia1 > a:nth-child(-n+2) {
  border-bottom: 1px solid #fff;
}
.tou2 {
  background: #3d98ff;
}
.tou2 > a span:nth-child(2) {
  width: 43px;
  height: 43px;
  background: url('../img/xc_sprites.png') no-repeat 0 -290px;
  background-size: 104px 327.5px;
}
.tou3 {
  background: #44c522;
}
.tou3 > a span:nth-child(2) {
  width: 43px;
  height: 43px;
  background: url('../img/xc_sprites.png') no-repeat 0 -235px;
  background-size: 104px 327.5px;
}
.box2 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
}
.box2 a {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 0;
}
.box2 a:nth-child(2) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 4px -20px;
  background-size: 24px 300px;
}
.box2 a:nth-child(3) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 4px -49px;
  background-size: 24px 300px;
}
.box2 a:nth-child(4) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 2px -79px;
  background-size: 24px 300px;
}
.box2 a:nth-child(5) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 4px -106px;
  background-size: 24px 300px;
}
.box2 a:nth-child(6) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 6px -133px;
  background-size: 24px 300px;
}
.box2 a:nth-child(7) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 4px -163px;
  background-size: 24px 300px;
}
.box2 a:nth-child(8) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 4px -191px;
  background-size: 24px 300px;
}
.box2 a:nth-child(9) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 2px -216px;
  background-size: 24px 300px;
}
.box2 a:nth-child(10) span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 6px -242px;
  background-size: 24px 300px;
}
.box2 a span {
  font-size: 12px;
}
.box2 a span:nth-child(1) {
  width: 28px;
  height: 28px;
  background: url('../img/un_ico_subnav_v7.124@2x.png');
  background-repeat: no-repeat;
  background-position: 0 6px;
  background-size: 24px 300px;
}
.box3 {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}
.box3 .shang3 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.box3 .shang3 h3 {
  font-size: 16px;
  color: #fd3c52;
  font-style: italic;
}
.box3 .shang3 a {
  font-size: 12px;
  color: #fff;
  background: #ff78aa;
  padding: 2px 5px;
  border-radius: 10px;
}
.box3 .xia3 {
  display: flex;
  padding: 5px;
}
.box3 .xia3 .zuo3 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.box3 .xia3 .zuo3 .jiage {
  color: #fe4f5e;
}
.box3 .xia3 .zuo3 .jiage span:nth-child(2) {
  font-size: 12px;
  color: #fff;
  background: #fd3a51;
  padding: 0 4px;
  border-radius: 10px;
}
.box3 .xia3 .zuo3 .he {
  font-size: 14px;
  height: 42px;
  overflow: hidden;
}
.box3 .xia3 .you3 {
  flex: 1;
}
.box3 .xia3 .you3 .qiankuan {
  height: 50%;
  flex: 1;
  font-size: 14px;
  background: url('../img/pic-tmh-02.png'), #f9f9f9;
  border: 5px solid #fff;
  background-repeat: no-repeat;
  background-position: right bottom ;
  background-size: 53.5px 71px;
  padding: 5px;
}
.box3 .xia3 .you3 .qiankuan a {
  color: #fe4f81;
  font-weight: bold;
}
.box3 .xia3 .you3 .diqu {
  height: 50%;
  display: flex;
}
.box3 .xia3 .you3 .diqu .jingxuan {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: #f9f9f9;
  border: 3px solid #fff;
}
.box3 .xia3 .you3 .diqu .jingxuan:nth-child(2) h4 {
  color: #68d5d2;
}
.box3 .xia3 .you3 .diqu .jingxuan h4 {
  color: #6ac2fb;
}
.box3 .xia3 .you3 .diqu .jingxuan img {
  width: 48px;
}
.box4 {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}
.box4 .shang4 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.box4 .shang4 h4 {
  font-size: 16px;
  color: #ffa552;
  font-style: italic;
}
.box4 .shang4 a {
  font-size: 12px;
  background: #ff6d83;
  color: #fff;
  border-radius: 10px;
  padding: 2px 5px;
}
.box4 .xia4 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.box4 .xia4 a {
  width: 50%;
}
.box5 {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}
.box5 .dianhua {
  display: flex;
}
.box5 .dianhua a {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.box5 .wang_nav {
  text-align: center;
}
.box5 .banquan {
  text-align: center;
}
